[submodule "tico/deps/glslang"]
	path = tico/deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "tico/deps/uam"]
	path = tico/deps/uam
	url = https://github.com/RSDuck/uam.git
	branch = library-target
[submodule "tico/deps/soundtouch"]
	path = tico/deps/soundtouch
	url = https://github.com/stenzek/soundtouch.git
[submodule "tico/deps/SPIRV-Cross"]
	path = tico/deps/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "tico/deps/SPIRV-Reflect"]
	path = tico/deps/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
